<div class="body">    
    <h1> Login </h1>\ 
    <div class="form">  
        <form class="form">   
            <label>Username: </label>   
            <div class="formGroup">
                <input class="input" type="email" placeholder="john@gmail.com" formControlName="username" name="username">
            </div>
            <br><br>
            <label> Password: </label>   
            <div class="formGroup">
                <input class="input" type="password" formControlName="password" name="password">
            </div>
            <br><br>
            <div class="form-buttons">
                <button class="button button-primary" (click)="login()">Login</button>
            </div>   
        </form>   
    </div>     
</div>     
