<div class="body">    
    <h1>Login </h1>
    <div class="form">  
        <form [formGroup]="form" class="form">   
            <label>Username: </label>   
            <input class="input" type="username" placeholder="john@gmail.com" formControlName="username" name="username">
            <br><br>
            <label>Password: </label> 
            <input class="input" type="password" formControlName="password" name="password">
            <br><br>
            <div class="form-buttons">
                <button class="button button-primary" (click)="login()" [disabled]="form.invalid">Login</button>
            </div>   
        </form>   
    </div>        
</div>     

